<div class="flex-container">
  <header class="header"><strong>favorite Index</strong></header>
    <div class = "row">
      <div class="main_left col-md-6">
        <p class = "title_index">
        <storng>IgClone</strong>
        </P>
      </div>
      <div class="main_right  col-md-6">
        <% @favorites.each do |favorite| %>
          <P>
            <strong>image:</strong>
            <%= link_to image_tag(favorite.post.image.url), post_path(favorite.post_id) %>
            <br>
            <br>
            <br>
            <strong>Name:</strong>
            <%= link_to favorite.post.user.name , user_path(favorite.post.user.id) %>
        <% end %>
        <%= paginate @favorites -%>
      </div>
</div>