<div class="container">
  <div class="user_content">
    <P>
    <strong>thumbnail:</strong>
    <%= image_tag @user.image.url %>
    </P>
  </div>
  <div class="user_content">
    <p>
    <strong>Name:</strong>
    <%= @user.name %>
    </P>
  </div>
  <div class="user_content">
    <p>
    <strong>Email:</strong>
    <%= @user.email %>
    </P>
  </div>
  <div class="user_content">
    <%= link_to 'Back', users_path %>
  </div>
</div>
