<div class="flex-container">
  <header class="header"><strong>Post Edit</strong></header>
    <div class = "row">
      <div class="main_left col-md-6">
        <p class = "title_index">
        <storng>IgClone</strong>
        </P>
      </div>
      <div class="main_right  col-md-6">
        <%= render 'form', post: @post %>
      </div>
    </div>
</div>