// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.container_form{
    margin-top:15em;
}

div.row1{
    margin-bottom:15em;
}

img{
    width: 200px;
    height: 200px;
}